.flipContainer {
  perspective: 1000;
}

.flipper {
  transform: perspective(1000px);
  transform-style: preserve-3d;
  @apply relative;
}

.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  @apply relative w-full top-0 left-0;
}

.back {
  transform: rotateY(-180deg);
  @apply absolute;
}

.flipContainer.clockwise .front {
  transform: rotate(90deg);
}

.flipContainer.counterclockwise .front {
  transform: rotate(-90deg);
}

.flipContainer.flip .front {
  transform: rotate(180deg);
}

.flipContainer.clockwise .back {
  transform: rotate3d(-1, 1, 0, -180deg);
}

.flipContainer.counterclockwise .back {
  transform: rotate3d(1, 1, 0, -180deg);
}

.flipContainer.flip .back {
  transform: rotateX(180deg);
}

.flipContainer.flipped .back {
  transform: rotateY(0deg);
}

.flipContainer.flipped .front {
  transform: rotateY(180deg);
}
