.header {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  @apply relative bg-primary w-full justify-center overflow-hidden;

  .cardWrapper {
    @apply h-full flex-grow bg-top bg-cover;
  }

  .mask,
  .comboTitleWrapper {
    @apply absolute top-0 bottom-0 left-0 right-0;
  }

  .mask {
    @apply bg-dark opacity-80;
  }

  .comboTitleWrapper {
    @apply flex flex-col justify-center content-center items-center text-center text-white;
  }

  .headingTitle.comboTitle,
  .headingTitle.comboSubtitle {
    @apply text-white text-xl -mt-2;
  }

  @media (min-width: 768px) {
    .headingTitle.comboTitle {
      @apply text-2xl;
    }
  }

  @media (min-width: 1024px) {
    .headingTitle.comboTitle {
      @apply text-3xl;
    }
  }

  @media (min-width: 1280px) {
    .headingTitle.comboTitle {
      @apply text-4xl;
    }
  }

  @keyframes color {
    0% {
      @apply bg-dark;
    }

    50% {
      @apply bg-primary;
    }

    100% {
      @apply bg-dark;
    }
  }
}