.link {
  @apply text-dark no-underline dark:text-light;

  .searchSnippet {
    @apply border-2 border-dark pb-2 mb-4 rounded-sm;
  }

  .searchSnippet .searchSnippetHeader,
  .searchSnippet .description {
    @apply pl-4 pr-4 pt-2;
  }

  .searchSnippet .searchSnippetHeader {
    @apply text-dark border-dark border-b-2 py-1 font-mono;
  }
}
