.title {
  font-family: monospace;
  font-weight: 300;
  font-size: 50px;
  color: #35495e;
  letter-spacing: 1px;
}

.bannedWarning {
  @apply text-danger font-semibold;
}

.previewedWarning {
  @apply font-semibold;
}

.legalityTable {
  @apply border-collapse w-full text-center mt-20 border-black ;

  th:last-child,td:last-child {    
    @apply text-left pl-2;
  }

  thead {
    @apply text-dark border-b-4 dark:text-light;
  }

  tbody {
    td, th {
      @apply border-2;
    }

    tr:first-child th {
      border-top: 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tr td:first-child,
    tr th:first-child {
      border-left: 0;
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 0;
    }
  }
}
