.cardTooltip {
  pointer-events: none;
  position: fixed;
  z-index: 9000;
  display: none;
  max-width: none;
  max-height: none;
  height: 10cm;
  flex-direction: row;
}

.cardTooltip img {
  height: 340px;
  width: 244px;
  border-radius: 11px;
  overflow: hidden;
}
