.shareContainer {
  .shareNetwork {
    @apply flex items-center justify-center w-1/3 text-center mx-1 mt-1 text-xl;
  }

  .shareNetwork:first-child {
    @apply ml-0;
  }

  .shareNetwork:last-child {
    @apply mr-0;
  }

  .shareNetwork a {
    @apply no-underline;
  }

  .shareNetwork:hover {
    @apply bg-link text-white border-link;
  }

  .linkIcon {
    @apply bg-link h-6 w-6 m-auto;
  }

  .shareNetwork:hover .linkIcon {
    @apply bg-white;
  }

  .twitterIcon {
    mask: url("../../../../assets/svgs/twitter-square-brands.svg") no-repeat
      center;
  }

  .facebookIcon {
    mask: url("../../../../assets/svgs/facebook-square-brands.svg") no-repeat
      center;
  }

  .redditIcon {
    mask: url("../../../../assets/svgs/reddit-square-brands.svg") no-repeat
      center;
  }

  .copyIcon {
    mask: url("../../../../assets/svgs/link-solid.svg") no-repeat center;
    @apply h-5 w-5;
  }
}
