.apocalypse {
  background-image: url("https://cards.scryfall.io/art_crop/front/7/f/7ff23780-d183-4cca-ad0c-448ef325bf36.jpg");
}

.obliterate {
  background-image: url("https://cards.scryfall.io/art_crop/front/c/d/cdabde40-2143-4677-b7b4-ea8fbf9b1f25.jpg");
}

.bookBurning {
  background-image: url("https://cards.scryfall.io/art_crop/front/b/e/bead678c-7b6a-4668-9919-623312e08a65.jpg");
}
