.findMyCombosContainer {
  p {
    @apply my-4;
  }

  p.or {
    @apply uppercase;
  }

  section {
    @apply flex flex-col items-center justify-center py-4 w-full;
  }

  .decklistInput {
    @apply h-80 w-full py-2 px-4 pb-6 mt-4 border-2 border-dark resize-none;
  }

  input.decklistInput {
    @apply mb-4 h-20;
  }

  .decklistInput:active {
    @apply border-primary;
  }

  .decklistInput:focus {
    @apply border-primary;
  }

  .clearDecklistInput {
    @apply cursor-pointer;
  }

  .decklistCardCount {
    @apply border-2 border-dark w-1/3 text-center py-2 -mt-4;
  }

  .decklistApp {
    @apply py-4;
  }

  .decklistHint {
    @apply flex relative text-center items-center justify-center flex-col -my-10 mb-8;
  }

  .decklistHint::before {
    content: "";
    height: 90px;
    width: 20px;
    background-image: url("../assets/svgs/combo-finder-arrow-hint.svg");

    @apply block bg-center bg-no-repeat bg-contain;
  }

  .commanderInput {
    @apply h-20;
  }

  @media (min-width: 768px) {
    .decklistInput {
      @apply w-2/3;
    }
  }
}
