html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  @apply bg-white;
}

a {
  @apply text-secondary underline;
}

.container {
  @apply w-full max-w-5xl px-4 mx-auto;
}

.static-page {
  @apply container py-6;
}

.heading-title {
  font-family: monospace;
  font-weight: 300;
  @apply text-4xl text-dark;
}

.button {
  @apply m-4 inline-block  py-2 px-3 bg-secondary text-white border-2 border-dark rounded-sm no-underline;
}

.button:hover {
  background-color: #555;
}

@media (min-width: 640px) {
  .heading-title {
    @apply text-6xl mb-4;
  }
}
