html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  @apply bg-white;
}

a {
  @apply underline text-link;
}

.container {
  @apply w-full max-w-5xl px-4 mx-auto;
}

.static-page {
  /* not sure why, but had to duplicate the container stuff here :/ */
  @apply w-full max-w-5xl px-4 py-6 mx-auto;
}

/* adapted from https://codepen.io/P1N2O/pen/pyBNzX */
.gradient {
  background-size: 150% 150%;
  animation: gradient 10s ease infinite;

  @apply bg-gradient-to-br from-primary to-secondary;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading-title {
  @apply font-mono text-center text-4xl text-dark uppercase;
}

.button {
  @apply m-4 inline-block py-2 px-3 bg-transparent text-link border-2 border-primary rounded-sm no-underline;
}

.button:hover {
  @apply bg-link text-white border-link;
}

@media (min-width: 640px) {
  .heading-title {
    @apply text-5xl my-4;
  }
}
