.placedholderText {
  @apply inline-block w-full;
}

.textBar {
  height: 0.8em;
  margin-top: 0.2em;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  @apply bg-light rounded inline-block;
}

@keyframes color {
  0% {
    @apply bg-gray-300;
  }

  50% {
    @apply bg-gray-400;
  }

  100% {
    @apply bg-gray-300;
  }
}