.navButton {
  @apply relative inline-flex items-center px-4 py-2 text-sm font-medium rounded-md text-dark;
}

.navButton:first-child {
  @apply ml-0;
}

.navButton:last-child {
  @apply mr-0;
}

.navIcon {
  @apply h-5 w-5;
}
