.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: rgb(0 0 0 / 80%);
}
