@reference "../../../styles/globals.css";

/* 400 */
.mentalMisstep {
  background-image: url('https://cards.scryfall.io/art_crop/front/6/1/61e9c6df-1c84-4eab-9076-a4feb6347c10.jpg');
}

.wrongTurn {
  background-image: url('https://cards.scryfall.io/art_crop/front/3/b/3b69687d-191a-4bca-b1f7-eea27847c1af.jpg');
}

.counterspell {
  background-image: url('https://cards.scryfall.io/art_crop/front/4/f/4f616706-ec97-4923-bb1e-11a69fbaa1f8.jpg');
}

/* 401 */
.gatekeeperOfMalakir {
  background-image: url('https://cards.scryfall.io/art_crop/front/5/8/58c45158-7858-409e-ab37-8a9a66ad8714.jpg');
}

.ghostlyPrison {
  background-image: url('https://cards.scryfall.io/art_crop/front/e/1/e1f723a8-0be9-4270-b451-a52d6b2fda4e.jpg');
}

/* 403 */
.forbiddenOrchard {
  background-image: url('https://cards.scryfall.io/art_crop/front/1/7/17db644c-1acf-477d-9c20-f72221f1108a.jpg');
}

.silence {
  background-image: url('https://cards.scryfall.io/art_crop/front/1/c/1c2b13b1-31f0-4676-88a7-53f3a190e9a2.jpg');
}

/* 404 */
.unexpectedlyAbsent {
  background-image: url('https://cards.scryfall.io/art_crop/front/a/1/a1501a42-e233-423b-b68a-1b76630bbccc.jpg');
}

.zhalfirinVoid {
  background-image: url('https://cards.scryfall.io/art_crop/front/d/4/d481d871-d1e3-439b-bfd5-5b2212f9b0c8.jpg');
}

.totallyLost {
  background-image: url('https://cards.scryfall.io/art_crop/front/8/c/8ccc3190-3220-4f23-b7aa-421e7ed104e9.jpg');
}

.curiosity {
  background-image: url('https://cards.scryfall.io/art_crop/front/4/b/4b47cada-7f7d-4da9-a1a9-886fcde8f5d4.jpg');
}

.oneWithNothing {
  background-image: url('https://cards.scryfall.io/art_crop/front/5/a/5a5841fa-4f30-495a-b840-3ef5a2af8fad.jpg');
}

.lostInTheWoods {
  background-image: url('https://cards.scryfall.io/art_crop/front/5/8/5865603c-0a5e-45c3-84e3-2dc3b4cf0cf7.jpg');
}

.barrenGlory {
  background-image: url('https://cards.scryfall.io/art_crop/front/1/2/12220d53-3356-4541-aa43-a0de6ed3f7d0.jpg');
}

.possibilityStorm {
  background-image: url('https://cards.scryfall.io/art_crop/front/8/5/858aa831-b491-4f1e-bb56-33eeca14771d.jpg');
}

/* 408, 504 */
.timeStop {
  background-image: url('https://cards.scryfall.io/art_crop/front/d/9/d938603b-0f1e-44c4-b86e-38e15f4a0d27.jpg');
}

.outOfTime {
  background-image: url('https://cards.scryfall.io/art_crop/front/0/5/053d6b3b-72d4-4a55-a79e-0a601aecf108.jpg');
}

.stallForTime {
  background-image: url('https://cards.scryfall.io/art_crop/front/f/3/f346defa-ee4a-404e-8154-0e33ebe9102c.jpg');
}

/* 429 */
.ruleOfLaw {
  background-image: url('https://cards.scryfall.io/art_crop/front/a/1/a1f4e79b-b103-4380-afa0-61a2b1773c9e.jpg');
}

.etherswornCanonist {
  background-image: url('https://cards.scryfall.io/art_crop/front/a/b/abc8e0f8-fdb9-4f24-a3e3-439f6cc3ebdc.jpg');
}

.deafeningSilence {
  background-image: url('https://cards.scryfall.io/art_crop/front/6/0/6072d9b0-d3c7-46f4-bd24-095bb13c4dea.jpg');
}

.winterOrb {
  background-image: url('https://cards.scryfall.io/art_crop/front/a/b/ab3cec7e-513e-400d-a1a8-2c71cdde02c6.jpg');
}

/* 500 */
.apocalypse {
  background-image: url('https://cards.scryfall.io/art_crop/front/7/f/7ff23780-d183-4cca-ad0c-448ef325bf36.jpg');
}

.obliterate {
  background-image: url('https://cards.scryfall.io/art_crop/front/c/d/cdabde40-2143-4677-b7b4-ea8fbf9b1f25.jpg');
}

.bookBurning {
  background-image: url('https://cards.scryfall.io/art_crop/front/b/e/bead678c-7b6a-4668-9919-623312e08a65.jpg');
}

/* 502, 503 */
.temporaryLockdown {
  background-image: url('https://cards.scryfall.io/art_crop/front/8/2/82b3088f-7b49-45e9-b447-129a597ceb75.jpg');
}

.sleep {
  background-image: url('https://cards.scryfall.io/art_crop/front/e/0/e0c53e64-69cf-4296-8a1e-f8817f25c0b4.jpg');
}

.powerSink {
  background-image: url('https://cards.scryfall.io/art_crop/front/9/a/9a6f3ce5-d4a5-4d7b-a7f9-b249c1d88e8f.jpg');
}

.message {
  @apply text-xl px-4;
}

.button {
  @apply text-white;
}
