.error {
  @apply border-red-500;

  .text {
    @apply text-red-500;
  }
}

.warning {
  @apply border-amber-500;

  .text {
    @apply text-amber-500;
  }
}

.success {
  @apply border-green-500;

  .text {
    @apply text-green-500;
  }
}

.info {
  @apply border-blue-500;

  .text {
    @apply text-blue-500;
  }
}

.important {
  @apply border-purple-500;

  .text {
    @apply text-purple-500;
  }
}
